#pk{
    text-align: center;
    padding: 0;
    background-color: deepskyblue;
}
h1{
    text-align: center;
    padding: 20px;
}
p{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

}